.css-example {
    background-color: var(--color-green);
    width: 100%;
    max-width: 100%;
    min-height: 96px;
    max-height: fit-content;
    margin-bottom: 5px;
    resize: horizontal;
    overflow: auto;
}

.name {
    color: var(--color-apple-blue);
    font-weight: 700;
}

.value {
    color: var(--color-apple-red);
    font-weight: 700;
}

.flex {
    width: inherit;
    min-height: inherit;
    max-height: inherit;
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.codeblock {
    background-color: #eae9ed;
    border-radius: 5px;
    padding: 0 5px;
    color: black;
    font-weight: 700;
    font-family: monospace;
    font-size: 16px;
}

h2 {
    width: 100%;
}

.attribute-name {
    background-color: #eae9ed;
    border-radius: 5px;
    padding: 0 5px;
}

.tag-container {
    content: "flex-item";
    color: white;
    background-color: var(--color-apple-yellow);
    border-radius: 5px;
    padding: 0 5px;
    float: right;
}

.tag-item {
    content: "flex-item";
    color: white;
    background-color: var(--color-apple-yellow);
    border-radius: 5px;
    padding: 0 5px;
    float: right;
}

.square64px {
    width: 64px;
    height: 64px;
    text-align: center;
}

.square80px {
    width: 80px;
    height: 80px;
    text-align: center;
}

.rectangle300px64px {
    width: 300px;
    height: 64px;
    text-align: center;
}

.width64px {
    width: 64px;
    text-align: center;
}

.flex-item {
    margin: 0 5px;
}

.red {
    background-color: var(--color-apple-red);
}

.green {
    background-color: var(--color-apple-green);
}

.blue {
    background-color: var(--color-apple-blue);
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.nowrap {
    flex-wrap: nowrap;
}

.flex-grow-side {
    flex-grow: 1;
}

.flex-grow-center {
    flex-grow: 3;
    flex-basis: 300px;
}

.flex-shrink-side {
    flex-shrink: 1;
}

.flex-shrink-center {
    flex-shrink: 3;
}

.flex-basis-350px {
    flex-basis: 350px;
}