* {
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    width: fit-content;
}

:root {
    --color-darkbrown: rgb(88, 79, 80);
    --color-darkblue: rgb(84, 122, 131);
    --color-cyanide: rgb(64, 174, 165);
    --color-green: rgb(155, 211, 174);
    --color-lightgreen: rgb(231, 240, 193);

    --color-gray12: rgb(31, 31, 31);
    --color-gray12-1: rgb(53, 53, 53);
    --color-gray12-2: rgb(75, 75, 75);

    --color-scheme-3-1: rgb(226, 226, 224);
    --color-scheme-3-2: rgb(245, 245, 243);
    --color-scheme-3-3: rgb(255, 255, 255);
    --color-gray-bg: rgb(217, 235, 255);

    --color-apple-green: #5ebd3e;
    --color-apple-yellow: #ffb900;
    --color-apple-orange: #f78200;
    --color-apple-red: #e23838;
    --color-apple-purple: #973999;
    --color-apple-blue: #009cdf;

    --page-width: 80%;
}

body {
    background-color: var(--color-gray-bg);
    margin: 0;
}

.banner {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    font-family: "Jersey 15";
    font-size: 64px;
    color: white;

    background-color: var(--color-apple-green);
}

main {
    position: relative;
    top: 64px;
    margin: 0 auto;
    width: var(--page-width);
    padding: 20px;
}

.content {
    width: 100%;
    height: fit-content;
    padding: 20px 30px;
    border: 2px solid var(--color-gray12-1);
    background-color: white;
}

.content-box-1 {
    margin: 0 auto;
    text-align: left;
}

#summary {
    width: fit-content;
}

h1 {
    text-align: left;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 10px;
}

h3 {
    margin: 20px 0 10px;
}

nav {
    background-color: white;
    width: fit-content;
    padding: 10px;
    border: 2px solid rgb(88, 79, 80);
}

nav ol {
    list-style-position: inside;
    width: fit-content;
    padding: 10px;
}

nav ul {
    list-style-position: inside;
    padding: 10px;
}

nav ul a:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

li {
    width: fit-content;
}

a,
a:visited {
    color: black;
}

.code {
    font-family: monospace;
    background-color: beige;
}

.code-2 {
    font-family: monospace;
    font-size: 16px;
    background-color: beige;
}

table {
    border: 2px solid rgb(88, 79, 80);
    margin: 0 auto;
    width: 80%;
}

.subtable {
    border-top: 0;
}

th {
    background-color: var(--color-apple-green);
}

td {
    line-height: 1.25;
    border-top: 1px solid rgba(88, 79, 80, 0.8);
}

.td-1 {
    font-size: 13px;
}

form {
    margin: 0 auto;
    text-align: center;
}

.inline-block {
    display: inline-block;
}
