* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-darkbrown: rgb(88, 79, 80);
    --color-darkblue: rgb(84, 122, 131);
    --color-cyanide: rgb(64, 174, 165);
    --color-green: rgb(155, 211, 174);
    --color-lightgreen: rgb(231, 240, 193);

    --color-gray12: rgb(31, 31, 31);
    --color-gray12-1: rgb(53, 53, 53);
    --color-gray12-2: rgb(75, 75, 75);

    --page-width: 800px;
    --content-width: 750px;
}

body {
    background-color: beige;
    margin: 0;
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    font-family: "Jersey 15";
    font-size: 64px;
    color: white;

    background-color: var(--color-green);
}

main {
    position: relative;
    top: 64px;
    background-color: var(--color-lightgreen);
    margin: 0 auto;
    width: var(--page-width);
    padding: 20px;
}

#summary {
    width: fit-content;
}

h1 {
    color: var(--color-darkbrown);
    font-family: 'Jersey 15';
    text-align: center;
}

h2 {
    color: var(--color-darkbrown);
}

h3 {
    text-align: center;
}

h1,
h2,
h3 {
    width: var(--content-width);
    margin: 20px auto;
}

p {
    max-width: var(--content-width);
    margin: 16px auto;
}

nav {
    background-color: beige;
    width: fit-content;
    padding: 10px;
    border: 2px solid rgb(88, 79, 80);
}

nav ol {
    list-style-position: inside;
    padding: 10px;
}

nav ul {
    list-style-position: inside;
    padding: 10px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: var(--color-darkbrown);
    text-decoration: none;
}

a:active {
    color: white;
}

.code {
    font-family: monospace;
    background-color: beige;
}

.code-2 {
    font-family: monospace;
    font-size: 16px;
    background-color: beige;
}

table {
    border: 2px solid rgb(88, 79, 80);
    margin: 0 auto;
    width: var(--content-width);
}

.subtable {
    border-top: 0;
}

th {
    background-color: rgb(155, 211, 174);
}



td {
    line-height: 1.25;
    border-top: 1px solid rgba(88, 79, 80, 0.8);
}

.td-1 {
    font-size: 13px;
}

form {
    margin: 0 auto;
    text-align: center;
}

.content-box-1 {
    margin: 0 auto;
    max-width: var(--content-width);
    text-align: left;
}
