* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-darkbrown: rgb(88, 79, 80);
    --color-darkblue: rgb(84, 122, 131);
    --color-cyanide: rgb(64, 174, 165);
    --color-green: rgb(155, 211, 174);
    --color-lightgreen: rgb(231, 240, 193);
}

body {
    background-color: var(--color-green);
    margin: 0;
}

header {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: "Jersey 15";
    font-size: 64px;
    color: white;
}

main {
    background-color: var(--color-lightgreen);
    margin: 0 auto;
    width: 650px;
    padding: 20px;
}

h1 {
    color: var(--color-darkbrown);
}

h2 {
    color: rgb(84, 122, 131);
}

#navigation {
    background-color: beige;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    border: 2px solid rgb(88, 79, 80);
}

#navigation ul {
    list-style-position: inside;
    padding: 10px;
}

a, 
a:visited {
    color: black;
}

h1,
h3 {
    text-align: center;
}

table {
    border: 2px solid rgb(88, 79, 80);
    margin: 0 auto;
    width: 650px;
}

.subtable {
    border-top: 0;
}

th {
    background-color: rgb(155, 211, 174);
}

.code {
    font-family: monospace;
    background-color: beige;
}

td {
    line-height: 1.25;
    border-top: 1px solid rgba(88, 79, 80, 0.8);
}

.td-1 {
    font-size: 13px;
}

form {
    margin: 0 auto;
    text-align: center;
}

.textbox-1 {
    margin: 0 auto;
    width: 650px;
    text-align: left;
}
